.app-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-self: center;
}
.container{
width: 600px; 
  margin: 20px auto; 
  padding: 40px; 
  border-radius: 8px; 
  box-shadow: 0 2px 10px #000000; 
  background-color: #f9f9f9;
}
.heading{
    text-align: center; 
  color: #333;
}
.form {
    display: flex; 
    flex-direction: column; 
  }

.input, textarea {
    margin: 10px 0; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
  }

.button {
    padding: 10px; 
    background-color: #007BFF; 
    color: #fff; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px; 
}
  
.button:hover {
    background-color: #0056b3; 
  }
  
@media (max-width: 600px) {
    .container {
      padding: 15px; 
    }
  
.input, textarea {
    font-size: 14px; 
    }
  
.button {
    font-size: 14px; 
    }
  }